---
import Layout from "@/layouts/Layout.astro";
import TitleComponent from "@/components/ui/title.astro";

---

<Layout canonicalUrl="" description="" title="">
    <section class="first-section">
        <div>
            <TitleComponent title={"About us"}/>
        </div>
    </section>
</Layout>
