---
import { client } from "@/lib/contentful";
import type { ICareer } from "@/lib/interface";
import LearnButton from "../ui/learnButton";
import ImageCarousel from "../imageCarousel";

const careerData = await client.withoutUnresolvableLinks.getEntry<ICareer>(
  "1d9TUEQGK5lJ4QajdGSfHQ"
);

type AssetFields = {
  file: {
    url: string;
  };
  title?: string;
  description?: string;
};

// Ensure `images` is an array and handle undefined
const images = (careerData.fields.images || []) as { fields: AssetFields }[];
---

<section>
  <div class="grid md:grid-cols-2 grid-cols-1 justify-items-end gap-5">
    <div>
      <h2 class="text-3xl capitalize font-bold sm:text-4xl">{careerData.fields.title}</h2>
    </div>
    <div class="space-y-5">
      <p class="text-lg">{careerData.fields.shortDescription}</p>

      <LearnButton deg={false} href="/career" text_color="text-black" text={"Read more"}>
    </div>
  </div>

  <div class="my-16">
    <ImageCarousel images={images} client:only="React"/>
  </div>

  </section>