---
import { client } from "@/lib/contentful";
import type { Ihero } from "@/lib/interface";
import { Button } from "../ui/button";
import HomeSvg from "../homeSvg";

const heroSectionData =  await client.withoutUnresolvableLinks.getEntry<Ihero>('zWWGHSAY7wGsUfVDG5Rfh')

const {title, subTitle, buttonText} = heroSectionData.fields
---

<section class=" md:py-10 ">
  <div
    class="max-w-7xl mx-auto flex flex-col-reverse lg:flex-row md:items-center justify-between md:gap-10"
  >
    <!-- Left Content -->
    <div class="max-w-lg text-start lg:text-left">
      <h1 class="font-bold text-3xl  md:text-5xl leading-tight text-gray-900">
        {title}
      </h1>
      <p class="mt-6 text-gray-600">
        {subTitle}
      </p>
      <div class="mt-8 flex justify-start lg:justify-start space-x-4">
        <Button className="bg-yellow-400 text-black  hover:bg-main transition">
          {`${buttonText}`}
        </Button>
      </div>
    </div>

    <!-- Right Image -->
    <div class="md:mt-10 lg:mt-0 lg:w-1/2 w-full">
      <HomeSvg/>
    </div>
  </div>
</section>
