---
import CTAImage from "@/assets/images/Visionex_files/CTA.svg";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import TitleComponent from "@/components/ui/title.astro";
---

<section>
  <div
    class="bg-main rounded-lg p-10 flex flex-col lg:flex-row items-center justify-between gap-10"
  >
    <!-- Left Text Content -->
    <div class="text-center lg:text-left">
      <TitleComponent className={"text-white"} title={"Ready to meet your personal AI writing assistant?"} />
      <p class="mt-4 text-white">
        Take action now to make a difference! Whether it&apos;s supporting a
        cause you&apos;re passionate about.
      </p>
      <Button className="mt-6">Start Writing For Free</Button>
    </div>

    <!-- Right Illustration -->
    <div class="flex justify-center w-full md:w-5/12">
      <Image
        decoding="async"
        loading="lazy"
        src={CTAImage}
        title={"CTA"}
        alt="Illustration of AI writing assistant"
        class="w-full invert max-w-sm lg:max-w-md"
      />
    </div>
  </div>
</section>
