---
import FAQAccordion from "../ui/faqAccordion";
import TitleComponent from "@/components/ui/title.astro";
---

<section>
  <div class="text-start">
    <TitleComponent title={"Frequently asked questions"} />
    <FAQAccordion client:load />
  </div>
</section>
