---
import FAQAccordion from "../ui/faqAccordion";
---

<section class="py-10">
  <div class="text-center">
    <h2 class="text-2xl md:text-3xl font-bold sm:text-4xl">
      Frequently Asked Questions
    </h2>
    <FAQAccordion client:load />
  </div>
</section>
