---
import Layout from "@/layouts/Layout.astro";
import BlogsComponent from "@/components/blogsComponent.astro";
import { client } from "@/lib/contentful";
import type { IBlogs } from "@/lib/interface";

const blogData = await client.withoutUnresolvableLinks.getEntries<IBlogs>({
    content_type: "blogs",
    order: "sys.createdAt" as any
})

---

<Layout canonicalUrl="" description="" title="">
  <section class="main-section mb-32">
      <BlogsComponent blogData={blogData}/>
  </section>

</Layout>
