---
import Layout from "@/layouts/Layout.astro";
import BlogsComponent from "@/components/blogsComponent.astro";
import { client } from "@/lib/contentful";
import type { IBlogs } from "@/lib/interface";

const blogData = await client.withoutUnresolvableLinks.getEntries<IBlogs>({
    content_type: "blogs",
    order: "sys.createdAt" as any
})

const canonicalUrll = new URL(Astro.url);
---

<Layout canonicalUrl={`${canonicalUrll}`} description="Our blog" title="Our Blogs">
  <section class="first-section mb-32">
      <BlogsComponent blogData={blogData}/>
  </section>

</Layout>
