---
import EventsComponent from "@/components/eventsComponent.astro";
import Layout from "@/layouts/Layout.astro";
import { client } from "@/lib/contentful";
import type { IEvents } from "@/lib/interface";

const eventData = await client.withoutUnresolvableLinks.getEntries<IEvents>({
    content_type: "events",
    order: "sys.createdAt" as any
})


const canonicalUrll = new URL(Astro.url);
---

<Layout canonicalUrl={`${canonicalUrll}`} description="Our Events" title="Origins Financial Event">
  <section class="first-section mb-32">
      <EventsComponent eventData={eventData}/>
  </section>

</Layout>
