---
import Layout from "@/layouts/Layout.astro";
import TitleComponent from "@/components/ui/title.astro";

---

<Layout canonicalUrl="" description={"Our events"} title="Origins Financial Events">
    <section class="first-section">
        <div>
            <TitleComponent title={"Our Events"}/>
        </div>
    </section>
</Layout>
