---
import Layout from "@/layouts/Layout.astro";
import TitleComponent from "@/components/ui/title.astro";
import { client } from "@/lib/contentful";
import type { IProducts } from "@/lib/interface";
import { ProductTabsComponent } from "@/components/productTabsComponent";
import ProductAccordian from "@/components/productAccordian";

const productData = await client.withoutUnresolvableLinks.getEntries<IProducts>(
  {
    content_type: "products",
    order:"fields.title" as any
  }
);

// Extract categories
const categories = [
  "All",
  ...productData.items
    .flatMap((item) => item.fields.category)
    .filter((category, index, self) => self.indexOf(category) === index),
];


// Extract Type
// const type = productData.items
//   .flatMap((item) => item.fields.productType)
//   .filter((category, index, self) => self.indexOf(category) === index);

const canonicalUrll = new URL(Astro.url);
---

<Layout canonicalUrl={`${canonicalUrll}`} description="Origins Financial Solutions " title="Our Solutions">
  <section class="first-section">
    <div>
      <TitleComponent title={"Our Solutions"} />
    </div>

    <div class="my-12 mb-20 main-section">
      <ProductTabsComponent categoryData={categories} client:only="React" >
        <ProductAccordian  productData={productData.items} client:only="React"/>
      </ProductTabsComponent>
    </div>
  </section>
</Layout>
